html,
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  margin: 0px;
  background-color: #7db7d8;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  align-content: center;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(20px);
}

h1 {
  text-align: center;
}

.controls {
  text-align: center;
  margin-bottom: 20px;
}

#section-select {
  font-size: 14px;
  padding: 5px;
}

#chart {
}

.tooltip {
  position: absolute;
  background: white;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 8px;
  pointer-events: none;
  font-size: 14px;
  color: #333;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
